@use "./base.scss";


// put your custom CSS here!

.content-meta {
  display: none; 
}

video {
  width: 100%;
  height: auto;
  max-width: 800px; 
}

@media (max-width: 600px) {
  video {
    max-width: 400px; 
  }
}